.navbar-dark .navbar-nav li .this-page {
  color: rgb(80, 207, 165) !important;
}

body {
  .info-ctn {
    font-size: 16px;
    text-align: left;
    font-weight: 700;
    padding-top: 100px;
    width: 75%;
    margin: 0 auto;
  }

  .form-ctn {
    width: 75%;
    margin: 0 auto;
  }
}
